In [1]:
import gspread
import pandas as pd
import datetime

gc = gspread.service_account()
gs = gc.open("ABLExR-DATA")
wk = gs.get_worksheet(0)

def get_data():
    return pd.DataFrame(wk.get_all_records())

def add_record(sesionId, reactionTime):
    ethnicity = int(sesionId / 1000)
    id = sesionId % 1000
    now = datetime.datetime.now().strftime("%d-%m-%Y, %H:%M:%S")
    record = [id,ethnicity,reactionTime, now]
    df.loc[len(df)] = record
    wk.update([df.columns.values.tolist()] + df.values.tolist())

df = get_data()

In [59]:
get_data()

   Sesion ID  ethnicity  reaction             timestamp
0        523          1      1000  03-07-2023, 13:07:17
1        523          1      1234  03-07-2023, 13:09:13
2        600          1     11234  03-07-2023, 13:09:50
3        600          1     11234  03-07-2023, 13:16:07
4        777          2    123123  03-07-2023, 13:17:57

In [60]:
add_record(2778, 123123)

/Users/miguel/Desktop/ABLExR_microserver/venv/lib/python3.11/site-packages/gspread/worksheet.py:1046: UserWarning: [Deprecated][in version 6.0.0]: method signature will change to: 'Worksheet.update(value = [[]], range_name=)' arguments 'range_name' and 'values' will swap, values will be mandatory of type: 'list(list(...))'
  warnings.warn(

In [6]:
df

   Sesion ID  ethinicity          Drescription
0        123           1  Cleveland ABLE tests

In [9]:

def add_session(sesionId, ethnicity, descripion=""):
    
    wk = gs.get_worksheet(1)
    df = pd.DataFrame(wk.get_all_records())
    record = [sesionId,ethnicity,descripion]
    df.loc[len(df)] = record
    wk.update([df.columns.values.tolist()] + df.values.tolist())

In [10]:
add_session(444, 1, "DC")

/Users/miguel/Desktop/ABLExR_microserver/venv/lib/python3.11/site-packages/gspread/worksheet.py:1046: UserWarning: [Deprecated][in version 6.0.0]: method signature will change to: 'Worksheet.update(value = [[]], range_name=)' arguments 'range_name' and 'values' will swap, values will be mandatory of type: 'list(list(...))'
  warnings.warn(